<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Projeccts to index.cfm">
                    <match url="^project/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?projectid={R:1}" />
                </rule>
                <rule name="Rewrite Item URL">
                    <match url="^item/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?item={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
