<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Projeccts to index.cfm with subarguments">
                    <match url="^project/([0-9]+)/([_0-9a-z-]+)" />
                    <action type="Rewrite" url="index.cfm?projectid={R:1}&amp;{R:2}" />
                </rule>
                <rule name="Rewrite Projeccts to index.cfm">
                    <match url="^project/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?projectid={R:1}" />
                </rule>
                <rule name="Rewrite Milestone">
                    <match url="^milestone/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?milestone={R:1}" />
                </rule>
                <rule name="Rewrite Scenarios to index.cfm">
                    <match url="^scenario/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?scenarioid={R:1}" />
                </rule>
                <rule name="Rewrite testcase">
                    <match url="^testcase/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?testcase={R:1}" />
                </rule>
                <rule name="Rewrite Item URL">
                    <match url="^item/([0-9]+)/" />
                    <action type="Rewrite" url="index.cfm?item={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" errorMode="Custom" />
    </system.webServer>
</configuration>
